project-set/extensions/api-validator/src/main/resources/META-INF/schema/config/validator-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" 
           attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/repose/validator/v1.0"
           xmlns:scr="http://openrepose.org/repose/validator/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           version="1.1">
    
    <!-- Enumeration and SimpleType definitions -->
    <xs:simpleType name="StringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="Version">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="1.1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="XSLEngine">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XalanC"/>
            <xs:enumeration value="Xalan"/>
            <xs:enumeration value="SaxonHE"/>
            <xs:enumeration value="SaxonEE"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="XSDEngine">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Xerces"/>
            <xs:enumeration value="SaxonEE"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Configuration Schema Definitions -->
    <xs:element name="validators" type="scr:ValidatorConfiguration"/>

    <xs:complexType name="ValidatorConfiguration">
       <xs:annotation>
         <xs:documentation>
            <html:p></html:p>
         </xs:documentation>
      </xs:annotation>
      
       <xs:sequence>
           <xs:element name="validator" vc:minVersion="1.0" vc:maxVersion="1.1" type="scr:ValidatorItem1.1" minOccurs="0" maxOccurs="unbounded"/>
           <xs:element name="validator" vc:minVersion="1.1" type="scr:BaseValidatorItem" minOccurs="0" maxOccurs="unbounded">
                <xs:alternative test="@schema-version='1.0'" type="scr:ValidatorItem1.0"/>
                <xs:alternative test="@schema-version='1.1'" type="scr:ValidatorItem1.1"/>
                <!-- <xs:alternative type="scr:BaseValidatorItemError" /> -->
            </xs:element>
       </xs:sequence>
      
       <xs:attribute name="multi-role-match" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="schema-version" type="scr:Version" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        Records the version of the schema used to write the XML instance.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Base Version and Error -->
    <xs:complexType name="BaseValidatorItem">
        <xs:sequence>
            <xs:any minOccurs="0" namespace="##any" processContents="skip"/>
        </xs:sequence>
        
        <xs:attribute name="role" type="scr:StringList" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>List of roles that are applied on single validator.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <!--
    <xs:complexType name="BaseValidatorItemError">
        <xs:complexContent>
            <xs:extension base="scr:BaseValidatorItem">
                <xs:openContent mode="interleave">
                    <xs:any processContents="skip"/>
                </xs:openContent>
                <xs:anyAttribute processContents="skip"/>
                <xs:assert vc:minVersion="1.1" test="false()"
                    xerces:message="For this type of message, only  versions ( 1.0, 1.1 ) are supported."
                    saxon:message="For this type of message, only  versions ( 1.0, 1.1 ) are supported."/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    -->

    <!-- Version 1.0 -->
    <xs:complexType name="ValidatorItem1.0">
        <xs:complexContent>
            <xs:extension base="scr:BaseValidatorItem">
                <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="wadl" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="dot-output" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="xpath-version" type="xs:int" use="optional" default="1">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-well-formed" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-xsd-grammar" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-elements" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="use-saxon" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="xsl-engine" type="scr:XSLEngine" use="optional" default="XalanC">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="validate-checker" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                                Deprecated: This attribute is deprecated and will always be considered true.
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-plain-params" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="do-xsd-grammar-transform" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="enable-pre-process-extension" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="remove-dups" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="join-xpath-checks" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-headers" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="enable-ignore-xsd-extension" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="validator-name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Version 1.1 -->
    <xs:complexType name="ValidatorItem1.1">
        <xs:complexContent>
            <xs:extension base="scr:BaseValidatorItem">
                <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="wadl" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="dot-output" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="xpath-version" type="xs:int" use="optional" default="1">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-well-formed" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-xsd-grammar" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-elements" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="xsd-engine" type="scr:XSDEngine" use="optional" default="Xerces">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="xsl-engine" type="scr:XSLEngine" use="optional" default="XalanC">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="validate-checker" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                                Deprecated: This attribute is deprecated and will always be considered true.
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-plain-params" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="do-xsd-grammar-transform" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="enable-pre-process-extension" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="remove-dups" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="join-xpath-checks" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="check-headers" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="enable-ignore-xsd-extension" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                
                <xs:attribute name="validator-name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>
                            </html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
