project-set/components/client-auth/src/main/resources/META-INF/schema/config/openstack-ids-auth/openstack-ids-auth.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/client-auth/os-ids-auth/v1.0"
           xmlns:os-ids-auth="http://docs.openrepose.org/repose/client-auth/os-ids-auth/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Configuration -->
    <xs:element name="openstack-auth">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    <html:p>Defines an OpenStack Identity Service authentication configuration</html:p>
                </xs:documentation>
            </xs:annotation>
            <xs:all vc:minVersion="1.1">
                <xs:element name="identity-service" type="os-ids-auth:OpenStackIdentityService" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="client-mapping" type="os-ids-auth:ClientMapping" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="endpoints-in-header" type="os-ids-auth:Endpoints" minOccurs="0" maxOccurs="1"/>
                <xs:element name="service-admin-roles" type="os-ids-auth:ServiceAdminRoles" minOccurs="0" maxOccurs="1" />
            </xs:all>

            <!-- Order matters in 1.0 land :-( -->
            <xs:sequence vc:minVersion="1.0" vc:maxVersion="1.1">
                <xs:element name="identity-service" type="os-ids-auth:OpenStackIdentityService" minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="client-mapping" type="os-ids-auth:ClientMapping" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="endpoints-in-header" type="os-ids-auth:Endpoints" minOccurs="0" maxOccurs="1"/>
                <xs:element name="service-admin-roles" type="os-ids-auth:ServiceAdminRoles" minOccurs="0" maxOccurs="1" />
            </xs:sequence>

            <xs:attribute name="delegable" type="xs:boolean" use="optional" default="false">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Tells the service whether or not to support auth delegation.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="user-cache-timeout" type="os-ids-auth:longGTEZero" use="optional" default="60000">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Time in milliseconds to cache auth token.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="token-cache-timeout" type="os-ids-auth:longGTEZero" use="optional" default="0">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Time in milliseconds to cache auth token.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="group-cache-timeout" type="os-ids-auth:longGTEZero" use="optional" default="600000">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Time in milliseconds to cache auth groups.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="cache-offset" type="os-ids-auth:intGTEZero" use="optional" default="0">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Cache timeout offset (in milliseconds) for token and group cache. A random value
                            between -cache-offset and +cache-offset will be applied to the existing
                            token and group timeout values.
                        </html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="tenanted" type="xs:boolean" use="optional" default="true">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Option to include the query strings to find extract the client id</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>


            <xs:attribute name="request-groups" type="xs:boolean" use="optional" default="true">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Tells the service whether or not to make get Groups call to Auth</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="connectionPoolId" type="xs:string" use="optional" default="client-auth-default">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Tells the connection pool service to map to the pool with specified id.
                                If default is chosen then the default connection pool configurations in connection pool service is used.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <!-- Review assertion -->
            <xs:assert vc:minVersion="1.1"
                       test="xs:boolean(@tenanted) eq true() and count(os-ids-auth:client-mapping) > 0 or xs:boolean(@tenanted) eq false()"
                       xerces:message="If tenanted = true then there should be at least one client mapping."
                       saxon:message="If tenanted = true then there should be at least one client mapping."/>

            <xs:assert vc:minVersion="1.1"
                       test="@user-cache-timeout >= @cache-offset and @group-cache-timeout >= @cache-offset"
                       xerces:message="Cache offset must be set lower than group and user cache timeout values"
                       saxon:message="Cache offset must be set lower than group and user cache timeout values"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="OpenStackIdentityService">
        <xs:annotation>
            <xs:documentation>
                <html:p>Describes an OpenStack Identity Service endpoint</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="username" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Username to use</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="password" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Password to use</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Target URI for authentication requests</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="tenantId" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The tenantId with admin permission used by the Keystone implementation perform admin
                        tasks.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ClientMapping">
        <xs:annotation>
            <xs:documentation>
                <html:p>Target URI for authentication requests</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="tenantId" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The tenantId with admin permission used by the Keystone implementation perform admin
                        tasks.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="id-regex" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Regex used to extract the client id from a given URI</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--This will be used to put the endpoints catalog in a x-catalog header.-->
    <xs:complexType name="Endpoints">
        <xs:annotation>
            <xs:documentation>
                <html:p>Determines whether or not to include endpoints in a headers, what format, what identity contract
                    version, and cache timeout.
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="format" type="os-ids-auth:format-enumeration" use="optional" default="JSON">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Determines endpoint header format.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="cache-timeout" type="os-ids-auth:longGTEZero" use="optional" default="600000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Determines cache timeout in milliseconds.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="identity-contract-version" type="xs:integer" use="optional" fixed="2">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Determines the contract identity version.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ServiceAdminRoles">
        <xs:annotation>
            <xs:documentation>
                <html:p>A list of roles to be treated as admins. These roles will not be validated against a tenant.</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="format-enumeration">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    This enumeration defines the allowable values for the format.
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <xs:enumeration value="JSON"/>
            <xs:enumeration value="XML"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="longGTEZero">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="intGTEZero">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
