repose-aggregator/components/filters/header-translation/src/main/resources/META-INF/schema/config/header-translation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://docs.openrepose.org/repose/header-translation/v1.0"
           xmlns:header-translation="http://docs.openrepose.org/repose/header-translation/v1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:html="http://www.w3.org/1999/xhtml">

    <xs:element name="header-translation" type="header-translation:header-translationType"/>

    <xs:complexType name="header-translationType">

        <xs:sequence>
            <xs:element type="header-translation:header" name="header" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>

        <xs:assert vc:minVersion="1.1"
                   test="count(distinct-values(tokenize(lower-case(string-join(
                   (header-translation:header/@original-name),',')),',')))
                   = count(distinct-values(header-translation:header/@original-name))"
                   xerces:message="Original names must be unique. Evaluation is case insensitive."
                   saxon:message="Original names must be unique. Evaluation is case insensitive."/>

    </xs:complexType>

    <xs:complexType name="header">

        <xs:annotation>
            <xs:documentation>
                <html:p>Header translation can be used to change the name of a header and
                    optionally remove the original header.
                </html:p>
                <html:p>To translate a header you provide the old header name and a
                    list of new header names. Original header names are evaluated in a case
                    insensitive manner.
                </html:p>
                <html:p>Optionally you can remove the old header, which is left in by default.</html:p>
                <html:p>New header names are limited to 64 characters.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute type="xs:string" name="original-name" use="required"/>
        <xs:attribute type="header-translation:StringList" name="new-name" use="required"/>
        <xs:attribute type="xs:boolean" name="remove-original" use="optional" default="false"/>

    </xs:complexType>

    <xs:simpleType name="header-string">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    This limits a header name string to 64 characters.
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StringList">
        <xs:list itemType="header-translation:header-string"/>
    </xs:simpleType>

</xs:schema>
