project-set/core/core-lib/src/main/resources/META-INF/schema/container/container-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/power-api/container/v1.0"
           xmlns:papic="http://docs.rackspacecloud.com/power-api/container/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="powerapi-container" type="papic:ContainerConfiguration" />

    <xs:complexType name="ContainerConfiguration">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="deployment-config" type="papic:DeploymentConfiguration" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeploymentConfiguration">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="deployment-directory" type="papic:DeploymentDirectory" minOccurs="1" maxOccurs="1" />
            <xs:element name="artifact-directory" type="papic:ArtifactDirectory" minOccurs="1" maxOccurs="1" />
            <xs:element name="logging-configuration" type="papic:LoggingConfiguration" minOccurs="0" maxOccurs="1" />
        </xs:sequence>

        <xs:attribute name="http-port" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Http port number on which Repose listens for requests</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="https-port" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Https port number on which Repose listens for requests</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="connection-timeout" type="xs:int" use="optional" default="30000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of milliseconds to wait for a connection to an origin service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="read-timeout" type="xs:int" use="optional" default="30000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of milliseconds to wait when reading from an origin service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ArtifactDirectory">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="check-interval" type="xs:int" use="optional" default="15">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Directory check interval in milliseconds</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>    
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DeploymentDirectory">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>

                <xs:attribute name="auto-clean" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Clean up undeployed resources</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="LoggingConfiguration">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="href" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Location for system state log config</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>    
        </xs:simpleContent>
    </xs:complexType>
    
</xs:schema>