project-set/components/root-context-router/src/main/resources/META-INF/schema/config/root-ctx-router-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/repose/root-context-router/v1.0"
           xmlns:scr="http://openrepose.org/repose/root-context-router/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Configuration Schema Definitions -->
   <xs:element name="root-context-router" type="scr:RootContextRouterConfiguration" />

   <xs:complexType name="RootContextRouterConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               Defines a collection of servlet context routing destinations and 
               their associated quality factors.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <!-- TODO:Review - Does 'minOccurs="0"' make sense? -->
         <xs:element name="context-path" type="scr:ContextPathRoute" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
    
   <xs:complexType name="ContextPathRoute">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <html:p>
                     Defines a context path to add to the available routing destinations
                  </html:p>
               </xs:documentation>
            </xs:annotation>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>