project-set/components/content-normalization/src/main/resources/META-INF/schema/normalization.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.api.rackspacecloud.com/powerapi/content-normalization/v1.0"
           xmlns:cnorm="http://docs.api.rackspacecloud.com/powerapi/content-normalization/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Content Normalization Configuration -->
    <xs:element name="content-normalization" type="cnorm:HeaderFilterList" />

    <xs:complexType name="ContentNormalizationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="header-list" type="cnorm:HeaderFilterList" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <!-- Types -->
    <xs:complexType name="HeaderFilterList">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:choice>
            <xs:element name="http-header-whitelist" type="cnorm:HttpHeaaderList" />
            <xs:element name="http-header-blacklist" type="cnorm:HttpHeaaderList" />
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="HttpHeaaderList">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="header" type="cnorm:HttpHeader" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HttpHeader">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p></html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
</xs:schema>