project-set/components/uri-stripper/src/main/resources/META-INF/schema/config/uri-stripper.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.api.rackspacecloud.com/repose/uri-translation/v1.0"
           xmlns:uri-stripper="http://docs.api.rackspacecloud.com/repose/uri-translation/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Client IP Identity Configuration -->
    <xs:element name="uri-stripper" type="uri-stripper:UriStripperConfig"/>

    <xs:complexType name="UriStripperConfig">

        <xs:annotation>
            <xs:documentation>
                <html:p>Document here</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="rewriteLocation" type="xs:boolean" use="required"/>

        <xs:attribute name="position" type="xs:int" use="required"/>

    </xs:complexType>

</xs:schema>
