project-set/components/datastore/src/main/resources/META-INF/schema/config/dist-datastore-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/repose/distributed-datastore/v1.0"
           xmlns:dds="http://openrepose.org/repose/distributed-datastore/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Configuration Schema Definitions -->
   <xs:element name="distirubted-datastore" type="dds:DistributedDatastoreConfiguration" />

   <xs:complexType name="DistributedDatastoreConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               Defines a collection of configuration options for the distirubted
               datastore component.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="allowed-hosts" type="dds:HostAccessControlList" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
   </xs:complexType>
    
   <xs:complexType name="HostAccessControlList">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               Defines a list of hosts who has access to the distributed datastore
               API calls. This does not add the host to the participating data 
               storage nodes.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="allow" type="dds:HostAccessControl" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="allow-all" type="xs:boolean" use="optional" default="false">
         <xs:annotation>
            <xs:documentation>
               <html:p>
                  Setting allow-all to true will turn off host ACL checking.
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   
   <xs:complexType name="HostAccessControl">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               An allow access control defines a set of parameters that must be
               met for an API request to be allowed.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="host" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
                  Defines a host who has access to the distributed datastore API.
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>