repose-aggregator/components/filters/openstack-identity-basic-auth/src/main/resources/META-INF/config/schema/openstack-identity-basic-auth.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns="http://docs.openrepose.org/openstack-identity-basic-auth/v1.0"
           targetNamespace="http://docs.openrepose.org/openstack-identity-basic-auth/v1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Elements -->
    <xs:element name="openstack-identity-basic-auth" type="OpenStackIdentityBasicAuthConfig"/>

    <!-- Types -->
    <xs:complexType name="OpenStackIdentityBasicAuthConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>The root config type for the OpenStack Identity Basic Auth filter configuration file.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="openstack-identity-service-uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The target OpenStack Identity endpoint URI for credential requests including host, port, and path to service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="token-cache-timeout-millis" type="ZeroOrPositiveInteger" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Time in milliseconds to cache auth token.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="ZeroOrPositiveInteger">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>