project-set/components/content-identity-auth-1.1/src/main/resources/META-INF/schema/config/content-identity-auth-1.1-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/rackspace/auth-1.1/content-identity/v1.0"
           xmlns:content-identity-auth="http://openrepose.org/rackspace/auth-1.1/content-identity/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Auth 1.1 message body content Identity Configuration -->
   <xs:element name="content-identity-auth" type="content-identity-auth:ContentIdentityAuthConfig" />

   <xs:complexType name="ContentIdentityAuthConfig">
      <xs:annotation>
         <xs:documentation>
            <html:p></html:p>
         </xs:documentation>
      </xs:annotation>
        
      <xs:all>
         <xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="1" default="PreAuth_1_1" />
         <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="1" default="0.6" />
      </xs:all>
        
      <xs:attribute  name="content-body-read-limit" type="xs:positiveInteger" use="optional" default="4096">
         <xs:annotation>
            <xs:documentation>
               <html:p></html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>