project-set/components/client-ip-identity/src/main/resources/META-INF/schema/config/client-ip-identity-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.api.rackspacecloud.com/powerapi/client-ip-identity/v1.0"
           xmlns:clientip="http://docs.api.rackspacecloud.com/powerapi/client-ip-identity/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Client IP Identity Configuration -->
    <xs:element name="client-ip-identity" type="clientip:ClientIpIdentityConfig" />

    <xs:complexType name="ClientIpIdentityConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="source-headers" type="clientip:HttpHeaderList" minOccurs="1" maxOccurs="1" />
            <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="1" default="0.1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="HttpHeaderList">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="header" type="clientip:HttpHeader" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p></html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
    
    
    <xs:complexType name="HttpHeader">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p></html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
</xs:schema>