project-set/components/client-ip-identity/src/main/resources/META-INF/schema/config/ip-identity-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.api.rackspacecloud.com/powerapi/ip-identity/v1.0"
           xmlns:ip-identity="http://docs.api.rackspacecloud.com/powerapi/ip-identity/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Client IP Identity Configuration -->
    <xs:element name="ip-identity" type="ip-identity:IpIdentityConfig" />

    <xs:complexType name="IpIdentityConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>            
            <xs:element name="quality" type="xs:string" minOccurs="0" maxOccurs="1" default="0.1" />
            <xs:element name="white-list" type="ip-identity:WhiteList" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="WhiteList">
        <xs:annotation>
            <xs:documentation>
                <html:p>A list of ip addresses you don't want to rate limit.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="ip-address" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="quality" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>The quality used for addresses in the whitelist.</html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
        
    </xs:complexType>
</xs:schema>