repose-aggregator/tests/functional-tests/src/integrationTest/configs/features/filters/apivalidator/multiValidatorsPreProcess/param_check.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:rax="http://docs.rackspace.com/api"
             xmlns="http://wadl.dev.java.net/2009/02"
        >

    <resources base="http://localhost:8088/">
        <resource path="/resource">
            <method name="POST" id="putResource">
                <request>
                    <representation mediaType="application/xml">
                        <param name="checkAttribute"
                               style="plain"
                               required="true"
                               path="not(/element/@blah)"
                               rax:message="blah should not be here"/>
                        <param name="checkAttribute2"
                               style="plain"
                               required="true"
                               path="not(/a/@blah)"
                               rax:message="blah should not be here"/>
                    </representation>
                </request>
            </method>
        </resource>
    </resources>
</application>

