project-set/components/servlet-context-router/src/main/resources/META-INF/schema/config/servlet-ctx-router-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/repose/servlet-context-router/v1.0"
           xmlns:scr="http://openrepose.org/repose/servlet-context-router/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Configuration Schema Definitions -->
   <xs:element name="servlet-context-router" type="scr:ServletContextRouterConfiguration" />

   <xs:complexType name="ServletContextRouterConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               Defines a collection of servlet context routing destinations and 
               their associated quality factors.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <!-- TODO:Review - Does 'minOccurs="0"' make sense? -->
         <xs:element name="context-path" type="scr:ContextPathRoute" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
    
   <xs:complexType name="ContextPathRoute">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:annotation>
               <xs:documentation>
                  <html:p>
                     Defines a context path to add to the available routing destinations
                  </html:p>
               </xs:documentation>
            </xs:annotation>

            <xs:attribute name="quality-factor" type="xs:double" use="required">
               <xs:annotation>
                  <xs:documentation>
                     <html:p>
                        The context path quality factor determines how desirable this
                        potential route is. The higher the quality factor, the more
                        desirable the route.
                     </html:p>
                  </xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>