repose-aggregator/external/os-auth-schemas/src/main/resources/META-INF/schema/openstack/RAX-KSKEY-credentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="schema.xsl"?>

<schema
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:RAX-KSKEY="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0"
        >
    <!--Import schema we are extending -->
    <import namespace="http://docs.openstack.org/identity/api/v2.0"
            schemaLocation="credentials.xsd"/>

    <!-- Elements -->
    <element name="apiKeyCredentials" type="RAX-KSKEY:apiKeyCredentials" substitutionGroup="identity:credential"/>

    <!-- Complex Types -->
    <complexType name="apiKeyCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="optional"></attribute>
                <attribute name="apiKey" type="xsd:string" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="apiKeyCredentialsWithOnlyApiKey">
        <complexContent>
            <restriction base="RAX-KSKEY:apiKeyCredentials">
                <attribute name="username" type="xsd:string" use="prohibited"/>
                <attribute name="apiKey" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The user's API Key.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </restriction>
        </complexContent>
    </complexType>

</schema>

