repose-aggregator/external/os-auth-schemas/src/main/resources/META-INF/schema/openstack/RAX-AUTH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="schema.xsl"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:RAX-AUTH="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:atom="http://www.w3.org/2005/Atom"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0">

<!--
    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="https://raw.github.com/openstack/identity-api/master/openstack-identity-api/src/docbkx/common/xsd/api.xsd" />
    <import namespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0" schemaLocation="https://raw.github.com/openstack/identity-api/master/openstack-identity-api/src/docbkx/extensions/RAX-KSKEY/xsd/RAX-KSKEY-credentials.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0" schemaLocation="https://raw.github.com/openstack/identity-api/master/openstack-identity-api/src/docbkx/extensions/OS-KSCATALOG/xsd/OS-KSCATALOG.xsd" />
-->
    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="./api.xsd" />
    <import namespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0" schemaLocation="./RAX-KSKEY-credentials.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0" schemaLocation="./OS-KSCATALOG.xsd" />
    
    <attribute name="defaultRegion" type="xsd:string" />
    <attribute name="domainId" type="xsd:string" />
    <attribute name="requirePasswordReset" type="xsd:boolean" />
    <attribute name="phoneNumber" type="xsd:string" />
    <attribute name="propagate" type="xsd:boolean" />
    <attribute name="default" type="xsd:boolean" />
    <attribute name="federatedIdp" type="xsd:string" />
    <attribute name="tenantAlias" type="xsd:string" />
    <attribute name="contactId" type="xsd:string" />
    <attribute name="multiFactorEnabled" type="xsd:boolean"/>
    <attribute name="multiFactorState" type="RAX-AUTH:MultiFactorStateEnum" />
    <attribute name="userMultiFactorEnforcementLevel" type="RAX-AUTH:UserMultiFactorEnforcementLevelEnum" />
    <attribute name="scope" type="RAX-AUTH:ScopeEnum" />
    <!--  <attribute name="apiKey" type="xsd:string" /> -->
    
    <element name="authenticatedBy" type="RAX-AUTH:AuthenticatedBy" />
    <element name="defaultRegionServices" type="RAX-AUTH:DefaultRegionServices" />
    <element name="serviceApis" type="RAX-AUTH:ServiceApis" />
    <element name="impersonation" type="RAX-AUTH:ImpersonationRequest" />
    <element name="access" type="RAX-AUTH:ImpersonationResponse" />
    <element name="impersonator" type="identity:UserForAuthenticateResponse" >
    	<annotation>
            <xsd:documentation>
                <p>The user impersonating.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domain" type="RAX-AUTH:Domain" >
        <annotation>
            <xsd:documentation>
                <p>A domain represents an administrative boundary for identity management.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domains" type="RAX-AUTH:Domains" />
    <element name="policy" type="RAX-AUTH:Policy"/>
    <element name="policies" type="RAX-AUTH:Policies" />
    <element name="regions" type="RAX-AUTH:Regions" />
    <element name="region" type="RAX-AUTH:Region" />
    <element name="questions" type="RAX-AUTH:Questions" />
    <element name="question" type="RAX-AUTH:Question" />
    <element name="secretqas" type="RAX-AUTH:SecretQAs" />
    <element name="secretqa" type="RAX-AUTH:SecretQA" />
    <element name="rsaCredentials" type="RAX-AUTH:RsaCredentials" substitutionGroup="identity:credential" />
    <element name="passcodeCredentials" type="RAX-AUTH:PasscodeCredentials" substitutionGroup="identity:credential" />
    <element name="mobilePhone" type="RAX-AUTH:MobilePhone" />
    <element name="verificationCode" type="RAX-AUTH:VerificationCode" />
    <element name="multiFactor" type="RAX-AUTH:MultiFactor" />
    <element name="mobilePhones" type="RAX-AUTH:MobilePhones"/>
    <element name="bypassCodes" type="RAX-AUTH:BypassCodes"/>
    <element name="multiFactorDomain" type="RAX-AUTH:MultiFactorDomain"/>

    <!-- Complex Types -->
    <complexType name="AuthenticatedBy">
        <sequence>
            <element name="credential" type="RAX-AUTH:AuthenticatedByEnum" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationRequest">
        <sequence>
            <element name="user" type="identity:User" >
                <annotation>
                    <xsd:documentation>
                        <p>The user being impersonated.</p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="expire-in-seconds" type="int" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationResponse">
        <sequence>
            <element name="token" type="identity:Token">
                <annotation>
                    <xsd:documentation>
                        <p>A token representing the impersonated user.</p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="Domain">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the domain.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
           <element ref="atom:link" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the domain. 
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if domain is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="domainMultiFactorEnforcementLevel" type="RAX-AUTH:DomainMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An enumeration indicating if domain has required multifactor.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <complexType name="Domains">
        <sequence>
            <element name="domain" type="RAX-AUTH:Domain" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="atom:link" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <complexType name="DefaultRegionServices">
        <sequence>
            <element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            Service name.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Policy">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the policy.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="blob" type="xsd:string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            A blob containing any type of policy that a client can provide. This could be in any format the client chooses.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element ref="atom:link" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the policy. 
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the policy.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="type" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The serialized type of the policy. This determines the format the policy is in.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if policy is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="global" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if policy is a global policy or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <complexType name="Policies">
        <sequence>
            <element name="policy" type="RAX-AUTH:Policy" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="algorithm" type="RAX-AUTH:PolicyAlgorithm" default="if-false-deny">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Algorithm for policy evaluation.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Region">
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the region.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="isDefault" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Regions">
        <sequence>
            <element name="region" type="RAX-AUTH:Region" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Question">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Questions">
        <sequence>
            <element name="question" type="RAX-AUTH:Question" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="SecretQA">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="answer" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The answer.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="SecretQAs">
        <sequence>
            <element name="secretqa" type="RAX-AUTH:SecretQA" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="ServiceApis">
        <sequence>
            <element name="serviceApi" type="RAX-AUTH:ServiceApi" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <complexType name="ServiceApi">
        <sequence>
        	<element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <attribute name="type" type="identity:ExtensibleServiceType">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                       Type of the service api e.g compute, object-store, ..
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="version" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                       Version of the service api
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <complexType name="RsaCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="required" />
                <attribute name="tokenKey" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PasscodeCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="passcode" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MobilePhones">
        <sequence>
            <element ref="RAX-AUTH:mobilePhone" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="MultiFactorDevice" abstract="true">
        <attribute name="id" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the device.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="MobilePhone">
        <complexContent>
            <extension base="RAX-AUTH:MultiFactorDevice">
                <attribute name="number" type="xsd:string">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The phone number of the mobile phone.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="verified" type="xsd:boolean">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Whether the device has been verified for the associated user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="VerificationCode">
        <sequence/>
        <attribute name="code" type="xsd:string" />
    </complexType>

    <complexType name="MultiFactor">
        <sequence/>
        <attribute name="enabled" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether or not multifactor authentication should be enabled or disabled on this account
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="unlock" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        After a number of unsuccessful multifactor authentication attempts a user's account will become locked.
                        When set to true, and the caller has appropriate permissions, this will unlock the user's account if
                        the user has multifactor enabled. When set to false or not provided, no change will be made to
                        the lock status of the user's account.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="userMultiFactorEnforcementLevel" type="RAX-AUTH:UserMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An enumeration indicating if user has required multifactor.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="BypassCodes">
        <attribute name="codes" type="RAX-AUTH:StringList" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A list of bypass codes for the user
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="validityDuration" type="xsd:duration" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        How long the the requested bypass codes are requested to be good for
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="numberOfCodes" type="xsd:integer" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The number of codes requested.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="MultiFactorDomain">
        <sequence/>
        <attribute name="domainMultiFactorEnforcementLevel" type="RAX-AUTH:DomainMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether or not multifactor authentication should be enforced on this domain
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <simpleType name="StringList">
        <list itemType="xsd:string"/>
    </simpleType>

    <xsd:simpleType name="PolicyAlgorithm">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The list of possible policy algorithms.
                </p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="if-true-allow"/>
            <xsd:enumeration value="if-false-deny"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <simpleType  name="PolicyType"> 
        <restriction base="xsd:string">
            <enumeration value="json-policy-format"/>
            <enumeration value="standard-policy-format"/> 
        </restriction>
    </simpleType>

    <simpleType name="FactorTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="SMS"/>
            <enumeration value="PHONE"/>
            <enumeration value="PUSH"/>
            <enumeration value="PASSCODE"/>
        </restriction>
    </simpleType>

    <simpleType name="MultiFactorStateEnum">
        <restriction base="xsd:string">
            <enumeration value="ACTIVE"/>
            <enumeration value="LOCKED"/>
        </restriction>
    </simpleType>

    <simpleType name="DomainMultiFactorEnforcementLevelEnum">
        <restriction base="xsd:string">
            <enumeration value="REQUIRED"/>
            <enumeration value="OPTIONAL"/>
        </restriction>
    </simpleType>

    <simpleType name="UserMultiFactorEnforcementLevelEnum">
        <restriction base="xsd:string">
            <enumeration value="REQUIRED"/>
            <enumeration value="OPTIONAL"/>
            <enumeration value="DEFAULT"/>
        </restriction>
    </simpleType>

    <simpleType name="ScopeEnum">
        <restriction base="xsd:string">
            <enumeration value="SETUP-MFA"/>
        </restriction>
    </simpleType>
    
    <simpleType name="AuthenticatedByEnum">
        <restriction base="xsd:string">
            <enumeration value="PASSWORD">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for authenticating via PASSWORD.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="APIKEY">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for authenticating via APIKEY.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="RSAKEY">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for authenticating via RSAKEY.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="PASSCODE">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for authenticating via PASSCODE.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="FEDERATED">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for authenticating via FEDERATION.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

</schema>
