repose-aggregator/external/os-auth-schemas/src/main/resources/META-INF/schema/openstack/RAX-AUTH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:RAX-AUTH="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0">

    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="token.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="user.xsd" />
    
    <import namespace="http://docs.openstack.org/identity/api/v2.0" 
        schemaLocation="api.xsd" />
  
    <attribute name="defaultRegion" type="xsd:string" />
    <attribute name="domainId" type="xsd:string" />

    <element name="defaultRegionServices" type="RAX-AUTH:DefaultRegionServices" />
    <element name="impersonation" type="RAX-AUTH:ImpersonationRequest" />
    <element name="access" type="RAX-AUTH:ImpersonationResponse" />
    <element name="impersonator" type="identity:UserForAuthenticateResponse" >
    	<annotation>
            <xsd:documentation>
                <p>The user impersonating.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domain" type="RAX-AUTH:Domain" >
        <annotation>
            <xsd:documentation>
                <p>A domain represents an administrative boundary for identity management.</p>
            </xsd:documentation>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="ImpersonationRequest">
        <sequence>
            <element name="user" type="identity:User" >
                <annotation>
                    <xsd:documentation>
                        <p>The user being impersonated.</p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="expire-in-seconds" type="int" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationResponse">
        <sequence>
            <element name="token" type="identity:Token">
                <annotation>
                    <xsd:documentation>
                        <p>A token representing the impersonated user.</p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="Domain">
        <sequence>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the domain.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the domain. 
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="true">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if domain is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <complexType name="DefaultRegionServices">
        <sequence>
            <element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            Service name.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

</schema>