project-set/components/client-authorization/src/main/resources/META-INF/schema/config/rackspace-auth-z/rackspace-auth-z-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/power-api/client-authorization/rs-auth-z/v1.0"
           xmlns:rs-auth-z="http://docs.rackspacecloud.com/power-api/client-authorization/rs-auth-z/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    
    <!-- Configuration -->
    <xs:element name="rackspace-authorization">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    <html:p>Defines a Rackspace Cloud Authorization</html:p>
                </xs:documentation>
            </xs:annotation>

            <xs:sequence>
                <xs:element name="authentication-server" type="rs-auth-z:authorizationServer" minOccurs="1" maxOccurs="1" />
                <xs:element name="service-mapping" type="rs-auth-z:serviceMapping" minOccurs="1" maxOccurs="1" />
            </xs:sequence>  
        </xs:complexType>
    </xs:element>
    
    
    <xs:complexType name="authorizationServer">
        <xs:annotation>
            <xs:documentation>
                <html:p>Describes an authorization endpoint</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="username" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Username to use (Basic Auth Only)</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="password" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Password to use (Basic Auth Only)</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Target URI for authentication requests</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="serviceMapping">
        <xs:annotation>
            <xs:documentation>
                <html:p>Describes the service mapping for the Origin Service</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Service Mapping for the Origin Service</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>