project-set/components/translation/src/main/resources/META-INF/schema/config/translation-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/power-api/translation/v1.0"
           xmlns:trans-config="http://docs.rackspacecloud.com/power-api/translation/v1.0"
           xmlns:p="http://www.w3.org/ns/xproc"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://www.w3.org/ns/xproc" schemaLocation="xproc/xproc.xsd" />

    <!-- Configuration -->
    <xs:element name="translation" type="trans-config:TranslationConfig" />

    <xs:complexType name="TranslationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p></html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="translation-process" type="trans-config:TranslationProcess" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TranslationProcess">
        <xs:annotation>
            <xs:documentation>
                <html:p>Describes the translation process of the request-response chains for the http-method and uri.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="request-translation-process" type="trans-config:RequestTranslationProcess" minOccurs="1" maxOccurs="1"/>
            <xs:element name="response-translation-process" type="trans-config:ResponseTranslationProcess" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="http-method" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The http method for which this translation process should be executed.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri-matching-pattern" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The uri for which this translation process should be executed.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RequestTranslationProcess">
        <xs:sequence>
            <xs:element ref="p:pipeline" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="http-element" type="trans-config:HttpElement" default="ALL">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The part of the http request that needs translation.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ResponseTranslationProcess">
        <xs:sequence>
            <xs:element ref="p:pipeline" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>        

        <xs:attribute name="http-element" type="trans-config:HttpElement" default="ALL">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The part of the http response that needs translation.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="HttpElement">
        <xs:annotation>
            <xs:documentation>
                <html:p>Http elements to translate during the process.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <xs:enumeration value="ENVELOPE" />
            <xs:enumeration value="BODY" />
            <xs:enumeration value="ALL" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>