project-set/components/translation/src/main/resources/META-INF/schema/config/translation-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/repose/translation/v1.0"
           xmlns:trans-config="http://docs.rackspacecloud.com/repose/translation/v1.0"
           xmlns:httpx="http://docs.rackspace.com/httpx/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://docs.rackspace.com/httpx/v1.0" schemaLocation="../../../../../../../../core/core-lib/src/main/resources/META-INF/schema/httpx/httpx-common.xsd" />

    <!-- Configuration -->
    <xs:element name="translation" type="trans-config:TranslationConfig" />

    <xs:complexType name="TranslationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>The entire translation configuration for a single power api node.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="request-translation-process" type="trans-config:RequestTranslationProcess" minOccurs="1" maxOccurs="1"/>
            <xs:element name="response-translation-process" type="trans-config:ResponseTranslationProcess" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequestTranslationProcess">
        <xs:annotation>
            <xs:documentation>
                <html:p>The translation process for the request.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="message" type="httpx:MessageFidelity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="head" type="httpx:RequestHeadFidelity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="headers" type="httpx:RequestHeaderFidelity" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The href references a file with an XPROC (http://www.w3.org/TR/xproc/) pipeline containing the translations needed for the request.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ResponseTranslationProcess">
        <xs:annotation>
            <xs:documentation>
                <html:p>The translation process for the response.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="message" type="httpx:MessageFidelity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="head" type="httpx:ResponseHeadFidelity" minOccurs="1" maxOccurs="1"/>
            <xs:element name="headers" type="httpx:ResponseHeaderFidelity" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>

        <xs:attribute name="href" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The href references a file with an XPROC (http://www.w3.org/TR/xproc/) pipeline containing the translations needed for the request.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RequestFidelity">
        <xs:annotation>
            <xs:documentation>
                <html:p>The fidelity describes the level of parsing required to translate the request.  For example, if the message fidelity is HEAD, the body will not be parsed for translation.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="message" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the message.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="head" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the head.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="headers" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the headers.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ResponseFidelity">
        <xs:annotation>
            <xs:documentation>
                <html:p>The fidelity describes the level of parsing required to translate the response.  For example, if the message fidelity is HEAD, the body will not be parsed for translation.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="message" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the message.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="head" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the head.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="headers" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The level of fidelity to be used when parsing the headers.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

</xs:schema>