project-set/components/translation/src/main/resources/META-INF/schema/config/xproc/xproc-papi.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Would like to eventually use the w3 xproc schema http://www.w3.org/TR/xproc/schemas/xproc.xsd.
     However, it caused several compilation errors in XJC.  Will need debugging if we use the actual
     w3 xproc schema. -->

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://www.w3.org/ns/xproc"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--<xs:complexType name="pipeline">-->
        <!--<xs:sequence>-->
            <!--<xs:element name="input" type="p:input" minOccurs="1" maxOccurs="1" />-->
            <!--<xs:element name="xslt" type="p:xslt" minOccurs="1" maxOccurs="unbounded" />-->
        <!--</xs:sequence>-->

        <!--<xs:attribute name="name" type="xs:string">-->
            <!--<xs:annotation>-->
                <!--<xs:documentation>-->
                    <!--<html:p>The name of the pipeline.</html:p>-->
                <!--</xs:documentation>-->
            <!--</xs:annotation>-->
        <!--</xs:attribute>-->
    <!--</xs:complexType>-->

    <!--<xs:complexType name="xslt">-->
        <!--<xs:sequence>-->
            <!--<xs:element name="input" type="p:input" minOccurs="1" maxOccurs="1" />-->
        <!--</xs:sequence>-->

        <!--<xs:attribute name="name" type="xs:string">-->
            <!--<xs:annotation>-->
                <!--<xs:documentation>-->
                    <!--<html:p>The name of the xslt translation.</html:p>-->
                <!--</xs:documentation>-->
            <!--</xs:annotation>-->
        <!--</xs:attribute>-->
    <!--</xs:complexType>-->

    <!--<xs:complexType name="input">-->
        <!--<xs:sequence>-->
            <!--<xs:element name="document" type="p:document" minOccurs="1" maxOccurs="1" />-->
        <!--</xs:sequence>-->

        <!--<xs:attribute name="port" type="xs:string">-->
            <!--<xs:annotation>-->
                <!--<xs:documentation>-->
                    <!--<html:p>The port from which the incoming xml with come.</html:p>-->
                <!--</xs:documentation>-->
            <!--</xs:annotation>-->
        <!--</xs:attribute>-->
    <!--</xs:complexType>-->

    <!--<xs:complexType name="document">-->
        <!--<xs:attribute name="href" type="xs:anyURI">-->
            <!--<xs:annotation>-->
                <!--<xs:documentation>-->
                    <!--<html:p>The location of the translation file.</html:p>-->
                <!--</xs:documentation>-->
            <!--</xs:annotation>-->
        <!--</xs:attribute>-->
    <!--</xs:complexType>-->

</xs:schema>