automation/rcman/includes/chef-solo/cookbooks/powerapi-valve/files/default/valveGroup2/group2.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:test="http://test.openrespose/test/v1.1"
   xsi:schemaLocation="http://test.openrespose/test/v1.1
                       test.xsd"
   >
    <grammars>
        <include href="test.xsd" />
    </grammars>
    <resources base="http://localhost:8088/">
        <resource path="/wadl/group2">
            <!--
            <method name="GET" id="getContainers">
                <response>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            -->
            <resource path="/resource1">
                <resource path="{id}">
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                    <method name="PUT" id="putContainer">
                        <response>
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                    <method name="DELETE" id="deleteContainer"/>
                    <method name="GET" id="getContainer">
                        <request>
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="search"/>
                        </request>
                        <response>
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                    <resource path="{item}">
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="test:UUID" style="template" name="item"/>
                        <method name="PUT" id="putItem">
                            <request>
                                <representation mediaType="*/*"/>
                            </request>
                            <response>
                                <representation mediaType="*/*"/>
                            </response>
                        </method>
                        <method name="DELETE" id="deleteItem"/>
                        <method name="GET" id="getItem">
                            <response>
                                <representation mediaType="*/*"/>
                            </response>
                        </method>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</application>