repose-aggregator/components/filters/client-ip-identity/src/main/resources/META-INF/schema/config/ip-identity-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Repose
  %%
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->


<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/ip-identity/v1.0"
           xmlns:ip-identity="http://docs.openrepose.org/repose/ip-identity/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Client IP Identity Configuration -->
    <xs:element name="ip-identity" type="ip-identity:IpIdentityConfig" />

    <xs:complexType name="IpIdentityConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>Configuration for IP Idendentity filter.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="quality" type="ip-identity:doubleBetweenZeroandOne" minOccurs="0" maxOccurs="1" default="0.1" />
            <xs:element name="white-list" type="ip-identity:WhiteList" minOccurs="0" maxOccurs="1"/>
        </xs:all>

    </xs:complexType>

    <xs:complexType name="WhiteList">
        <xs:annotation>
            <xs:documentation>
                <html:p>A list of ip addresses you don't want to rate limit.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="ip-address" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>

        <xs:attribute name="quality" type="ip-identity:doubleBetweenZeroandOne" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>The quality used for addresses in the whitelist.</html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
        
    </xs:complexType>
    <xs:simpleType name="doubleBetweenZeroandOne">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>