repose-aggregator/components/filters/ip-classification/src/main/resources/META-INF/schema/config/ip-classification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  _=_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=
  Repose
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  =_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=_
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns="http://docs.openrepose.org/repose/ip-classification/v1.0"
           targetNamespace="http://docs.openrepose.org/repose/ip-classification/v1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="ip-classification" type="IpClassificationConfig"/>

    <xs:complexType name="IpClassificationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>The root configuration for the Repose IP Classification filter configuration file.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="header-name" type="HeaderType" minOccurs="0" maxOccurs="1" default="x-pp-group"/>
            <xs:element name="classifications" type="ClassificationsType" minOccurs="1" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <!-- because this becaomse a complex type now, I cannot use defaults. Have to put them in the scala :( -->
    <!-- well, the quality could be optional, but not the name, and if the name isn't there, the quality isn't there either -->
    <xs:complexType name="HeaderType">
        <!-- quality attribute follows the default from ip-identity -->
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>The header name to put the classification label in</html:p>
                    </xs:documentation>
                </xs:annotation>
                <xs:attribute name="quality" type="doubleBetweenZeroandOne" use="optional" default="0.4">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>The IPv6 CIDR notation to match against.</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>

    </xs:complexType>

    <xs:complexType name="ClassificationsType">
        <xs:annotation>
            <xs:documentation>
                <html:p>A list of classifications.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="classification" type="ClassificationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClassificationType">
        <xs:attribute name="label" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Label to be placed in the named header.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ipv4-cidr" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The IPv4 CIDR notation to match against.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ipv6-cidr" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The IPv6 CIDR notation to match against.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:assert vc:minVersion="1.1" test="@ipv6-cidr or @ipv4-cidr"
                   xerces:message="Must define ipv4 or ipv6 CIDR notations (or both!)"
                   saxon:message="Must define ipv4 or ipv6 CIDR notations (or both!)">
        </xs:assert>
    </xs:complexType>

    <xs:simpleType name="doubleBetweenZeroandOne">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
