repose-aggregator/components/filters/content-normalization/src/main/resources/META-INF/schema/config/normalization-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/content-normalization/v1.0"
           xmlns:cnorm="http://docs.openrepose.org/repose/content-normalization/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Content Normalization Configuration -->
    <xs:element name="content-normalization" type="cnorm:ContentNormalizationConfig" />

    <xs:complexType name="ContentNormalizationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>Configuration  for the content normalization filter.</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:all>
            <xs:element name="header-filters" type="cnorm:HeaderFilterList" minOccurs="0" maxOccurs="1" />
            <xs:element name="media-types" type="cnorm:MediaTypeList" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <!-- Types - keep it simple, John-->
    <xs:complexType name="MediaTypeList">
        <xs:annotation>
            <xs:documentation>
                <html:p>A mediea type list</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="media-type" type="cnorm:MediaType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:assert vc:minVersion="1.1" test="count(cnorm:media-type[xs:boolean(@preferred)]) le 1"
            xerces:message="Only one media-type should be preferred."
            saxon:message="Only one media-type should be preferred."/>
    </xs:complexType>
    
    <xs:complexType name="MediaType">
        <xs:annotation>
            <xs:documentation>
                <html:p>A Media type</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>A name for the media type.</html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>

        <xs:attribute name="variant-extension" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The variant extension</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="preferred" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>If you don't specify a media type, this on will be used.</html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="HeaderFilterList">
        <xs:annotation>
            <xs:documentation>
                <html:p>The list of header filters.</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:choice >
            <xs:element name="whitelist" type="cnorm:HttpHeaderList" />
            <xs:element name="blacklist" type="cnorm:HttpHeaderList" />
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="HttpHeaderList">
        <xs:annotation>
            <xs:documentation>
                <html:p>A Header List.</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="header" type="cnorm:HttpHeader" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>A string that uniquely identifies the header list.</html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="HttpHeader">
        <xs:annotation>
            <xs:documentation>
                <html:p>An HTTP header.</html:p>
            </xs:documentation>
        </xs:annotation>
        
        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The unique header name.</html:p>
                </xs:documentation>
            </xs:annotation>            
        </xs:attribute>
    </xs:complexType>
</xs:schema>