repose-aggregator/components/filters/uri-stripper/src/main/resources/META-INF/schema/config/uri-stripper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  _=_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=
  Repose
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  =_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=_
  -->


<xs:schema xmlns:uri-stripper="http://docs.openrepose.org/repose/uri-stripper/v1.0" xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/uri-stripper/v1.0">

    <!-- Client IP Identity Configuration -->
    <xs:element name="uri-stripper" type="uri-stripper:UriStripperConfig"/>

    <xs:complexType name="UriStripperConfig">

        <xs:annotation>
            <xs:documentation>
                <html:p>Configuration for the URI Stripper Filter</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="rewrite-location" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        If configured, the URI Stripper filter will try to put the removed token back into the resource
                        path of the Location Header. To do this, the URI Stripper will attempt to preserve the tokens
                        which preceded and succeeded the token that was stripped from the original URI. If the token
                        which preceded the stripped value is present then the stripped value is added after the preceded
                        value. If succeeded token is present instead then the stripped token will be inserted before the
                        succeeded value. If neither, preceded or succeeded, values are present then the URI stripper
                        will not attempt to insert the stripped value into the Location header
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="token-index" type="uri-stripper:nonNegativeInt" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        When the URI Stripper filter receives a request it will parse the request path using the
                        '/' character as the delimiter and break the path into indexed tokens. Starting from index '0'
                        the
                        URI Stripper will take the element in configured token-index and remove it from the request
                        path.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <xs:simpleType name="nonNegativeInt">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
