repose-aggregator/functional-tests/mocks-servlet/src/main/resources/META-INF/request-info/request-info.xsd

<?xml version="1.0"?>
<!--
  _=_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=
  Repose
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  =_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=_
  -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:request="http://docs.openrepose.org/repose/httpx/v1.0"
           targetNamespace="http://docs.openrepose.org/repose/httpx/v1.0"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:element name="request-info" type="request:RequestInformation"/>

    <xs:complexType name="RequestInformation">
        <xs:all>
            <xs:element name="method" type="xs:string"/>
            <xs:element name="path" type="xs:string"/>
            <xs:element name="uri" type="xs:string"/>
            <xs:element name="queryString" type="xs:string"/>
            <xs:element name="query-params" type="request:QueryParameters" minOccurs="0" maxOccurs="1"/>
            <xs:element name="headers" type="request:HeaderList" minOccurs="0" maxOccurs="1"/>

            <xs:element minOccurs="0" name="body" type="xs:string" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="Body" mixed="true">
        <xs:complexContent>
            <xs:extension base="xs:anyType">

            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HeaderList">
        <xs:sequence>
            <xs:element name="header" type="request:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NameValuePair">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="QueryParameters">
        <xs:annotation>
            <xs:documentation>
                <html:p>The request/response headers in an xml representation.</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="parameter" type="request:NameValuePair" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

