repose-aggregator/external/rs-auth-schemas/src/main/resources/META-INF/schema/credentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->
<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

    <annotation>
        <xsd:appinfo
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <xsdxt:title>Credentials</xsdxt:title>
            <xsdxt:link rel="index" href="api.xsd"/>
        </xsd:appinfo>
        <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <p>
                This schema file defines entities credentials used to obtained
                a token from the authentication service.
            </p>
        </xsd:documentation>
    </annotation>

    <element name="credentials" type="auth:UserCredentials">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Credentials used to obtain an auth token.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/credentials.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/credentials.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="Credentials" abstract="true">
    </complexType>

    <complexType name="KeyCredentials">
        <complexContent>
            <extension base="auth:Credentials">
              <attribute name="key" type="xsd:string" use="required">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The API key.
                        </p>
                    </xsd:documentation>
                </annotation>
              </attribute>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="UserCredentials">
        <complexContent>
            <extension base="auth:KeyCredentials">
                <attribute name="username" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The name of the user authenticated.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>
