repose-aggregator/external/rs-auth-schemas/src/main/resources/META-INF/schema/full-token.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

    <annotation>
        <xsd:appinfo
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <xsdxt:title>Full Token</xsdxt:title>
            <xsdxt:link rel="index" href="admin-api.xsd"/>
        </xsd:appinfo>
        <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <p>
                Defines a full token.
            </p>
        </xsd:documentation>
    </annotation>

    <!-- Inlcude Auth Stuff -->
    <include schemaLocation="auth.xsd">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Auth entities include: AuthData, Token, and ServiceCatalog.
                </p>
            </xsd:documentation>
        </annotation>
    </include>

    <element name="token" type="auth:FullToken">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    A Token containing user information and a timestamp of when
                    it was created.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/full-token.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/full-token.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="FullToken">
        <complexContent>
            <extension base="auth:Token">
                <attribute name="created" type="xsd:dateTime" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                A timestamp of when the token was created.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="userId" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                An Id of the user associated with this token.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="userURL" type="xsd:anyURI" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                A URI of the user associated with this token.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>
