repose-aggregator/functional-tests/os-auth-schemas/src/main/resources/META-INF/schema/openstack/policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="schema.xsl"?>

<schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:policy="http://docs.rackspace.com/identity/policy/v1.0"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://docs.rackspace.com/identity/policy/v1.0">

    <element name="policy" type="policy:Policy"/>
    <element name="capabilities" type="policy:Capabilities"/>
    <element name="attribute" type="policy:Attribute"/>

    <attribute name="serviceType" type="xsd:string">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The type of service. e.g compute, ..
                </p>
            </xsd:documentation>
        </annotation>
    </attribute>

    <attribute name="version" type="xsd:string">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The version for the service type.
                </p>
            </xsd:documentation>
        </annotation>
    </attribute>

    <complexType name="Policy">
        <sequence>
            <element name="rule" type="policy:Rule" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Rule">
        <sequence>
            <element name="subject" type="policy:Subject" minOccurs="1" maxOccurs="1"/>
            <element name="capabilities" type="policy:Capabilities" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Subject">
        <annotation>
            <xsd:documentation>
                <p>A subject is the entity that requires access.</p>
            </xsd:documentation>
        </annotation>
        <sequence/>
        <attribute name="id" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the subject. This could be username, userid, ...
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="roles" type="policy:StringList">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Roles that the subject holds.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="groups" type="policy:StringList">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Groups that the subject belongs to.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Capabilities">
        <sequence>
            <element name="attribute" type="policy:Attribute" minOccurs="0" maxOccurs="unbounded"/>
            <element name="capability" type="policy:Capability" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
        <attribute ref="policy:serviceType" use="required"/>
        <attribute ref="policy:version" use="required"/>
        <attribute name="href" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Link to where capability definitions can be retrieved from.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Capability">
        <sequence>
            <element name="ns" type="policy:Namespace" minOccurs="0" maxOccurs="unbounded"/>
            <element name="attribute" type="policy:Attribute" minOccurs="0" maxOccurs="unbounded"/>
            <element name="description" type="xsd:string">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            An free text description of the capability.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Id of the capability
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute ref="policy:serviceType"/>
        <attribute ref="policy:version"/>
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Name of the capability.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="action" type="policy:Action" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Action of the capability. This could be PUT, POST, CREATE, ...
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="url" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Url of the capability.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="xpath" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Xpath that defines capability not fully expressed via the url.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="jsonpath" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Json path that defines capability not fully expressed via the url.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Attribute">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Arbitrary key value pairs. Can be attached to capabilities or any other
                    entities defined in this policy.
                </p>
            </xsd:documentation>
        </annotation>
        <sequence/>
        <attribute name="name" type="xsd:string" use="required"/>
        <attribute name="value" type="xsd:string" use="required"/>
    </complexType>

    <complexType name="Namespace">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    A place to define prefixes and their namespace bindings. Helps add more details for the xpath
                    property
                </p>
            </xsd:documentation>
        </annotation>
        <sequence/>
        <attribute name="prefix" type="xsd:string" use="required"/>
        <attribute name="namespace" type="xsd:string" use="required"/>
    </complexType>

    <simpleType name="Action">
        <union memberTypes="policy:WebMethods xsd:string"/>
    </simpleType>

    <simpleType name="WebMethods">
        <restriction base="xsd:string">
            <enumeration value="GET"/>
            <enumeration value="POST"/>
            <enumeration value="PUT"/>
            <enumeration value="DELETE"/>
            <enumeration value="PATCH"/>
            <enumeration value="HEAD"/>
            <enumeration value="*"/>
        </restriction>
    </simpleType>

    <simpleType name="StringList">
        <list itemType="xsd:string"/>
    </simpleType>
</schema>
