repose-aggregator/components/filters/keystone-basic-auth/src/main/resources/META-INF/config/schema/keystone-basic-auth.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns="http://docs.openrepose.org/keystone-basic-auth/v1.0"
           targetNamespace="http://docs.openrepose.org/keystone-basic-auth/v1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Elements -->
    <xs:element name="keystone-basic-auth" type="KeystoneBasicAuthConfig"/>

    <!-- Types -->
    <xs:complexType name="KeystoneBasicAuthConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>The root config type for the Keystone Basic Auth filter configuration file.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="todo-element" type="ToDoElement" minOccurs="0" maxOccurs="1" default="false"/>
        </xs:sequence>

        <xs:attribute name="todo-attribute" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>TODO: This is an Attribute.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="ToDoElement">
        <xs:annotation>
            <xs:documentation>
                <html:p>TODO: This is an Element.
                </html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>