project-set/components/replicated-datastore/src/main/resources/META-INF/schema/config/replicated-datastore-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://openrepose.org/repose/replicated-datastore/v1.0"
           xmlns:dds="http://openrepose.org/repose/replicated-datastore/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Configuration Schema Definitions -->
   <xs:element name="replicated-datastore" type="dds:ReplicatedDatastoreConfiguration" />

   <xs:complexType name="ReplicatedDatastoreConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
               Defines a collection of configuration options for the replicated
               datastore component.
            </html:p>
         </xs:documentation>
      </xs:annotation>

      
      <xs:sequence>
      </xs:sequence>

      <xs:attribute name="queue-size-limit" type="xs:int" use="optional" default="0" />
   </xs:complexType>
    
</xs:schema>