repose-aggregator/components/filters/valkyrie-authorization/src/main/resources/META-INF/schema/config/valkyrie-authorization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  _=_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=
  Repose
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  =_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=_
  -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns="http://docs.openrepose.org/repose/valkyrie-authorization/v1.0"
           targetNamespace="http://docs.openrepose.org/repose/valkyrie-authorization/v1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Elements -->
    <xs:element name="valkyrie-authorization" type="ValkyrieAuthorizationConfig"/>

    <!-- Types -->
    <xs:complexType name="ValkyrieAuthorizationConfig">
        <xs:annotation>
            <xs:documentation>
                <html:p>The root config type for the valkyrie authorization filter configuration file.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="delegating" type="DelegatingType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="valkyrie-server" type="ValkyrieServer" minOccurs="1" maxOccurs="1"/>
            <xs:element name="translate-permissions-to-roles" minOccurs="0" maxOccurs="1"/>
            <xs:element name="collection-resources" type="CollectionResources" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pre-authorized-roles" type="RolesList" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="cache-timeout-millis" type="ZeroOrPositiveInteger" use="optional" default="300000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Time in milliseconds to cache valkyrie response. The default is 5 minutes.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enable-masking-403s" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Instead of returning a 403, instead return a 404 instead</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ValkyrieServer">
        <xs:annotation>
            <xs:documentation>
                <html:p>Description of the Valkyrie endpoint</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The target Valkyrie URI for credential requests including host, port, and path to service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="username" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Username to authenticate against the Valkyrie endpoint.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="password" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Password to authenticate against the Valkyrie endpoint.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DelegatingType">
        <xs:annotation>
            <xs:documentation>
                <html:p>Whether or not you would like this filter to populate the delegation headers. Inclusion means you do.</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="quality" type="QualityType" use="optional" default="0.1">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        What quality you want any output headers to be.
                        When setting up a chain of delegating filters the highest quality number will be the one that is eventually output.
                        Default is 0.1
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="QualityType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ZeroOrPositiveInteger">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RolesList">
        <xs:sequence>
            <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CollectionResources">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    A list of resources that return responses that contain a collection of items that should be culled
                    based on valkyrie permissions.
                </html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resource" type="Resource" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Resource">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    A specific ReST resource that contains one or more collections that need culling based on valkyrie
                    permissions.
                </html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path-regex" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="collection" type="Collection" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Collection">
        <xs:annotation>
            <xs:documentation>
                <html:p>Specifies how to find the information needed for culling the collection.</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="json" type="pathTriplet" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Specifies the JSON paths necessary to make changes to the collection.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- We'll add this when we come back to support xml. At that point the json should switch to a minimum of 0
                 and validation should be in place so that they have at least one of the two specified.-->
            <!--<xs:element name="xml" type="pathTriplet" minOccurs="0" maxOccurs="1">-->
                <!--<xs:annotation>-->
                    <!--<xs:documentation>-->
                        <!--<html:p>Specifies the x-paths necessary to make changes to the collection.</html:p>-->
                    <!--</xs:documentation>-->
                <!--</xs:annotation>-->
            <!--</xs:element>-->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pathTriplet">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    The three paths needed to determine whether an item is viewable and the item count to be updated.
                </html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path-to-collection" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>The path to the collection to be culled relative to the entire document.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="path-to-device-id" type="DevicePath" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>The path to the device id relative to the objects contained in the collection.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="path-to-item-count" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>
                            The path to the item count for the collection to be culled relative to the entire document.
                        </html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DevicePath">
        <xs:annotation>
            <xs:documentation>
                <html:p>The path and regex for getting the device id.</html:p>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="regex" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="capture-group" type="xs:int" use="optional" default="1"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
