repose-aggregator/components/filters/keystone-v3/src/main/resources/META-INF/config/schema/keystone-v3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns="http://docs.openrepose.org/keystone-v3/v1.0"
           targetNamespace="http://docs.openrepose.org/keystone-v3/v1.0">

    <!-- Types -->
    <xs:complexType name="KeystoneV3Config">
        <xs:annotation>
            <xs:documentation>
                <html:p>The root config type for the Keystone v3 filter configuration file.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="white-list" type="WhiteList" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keystone-service" type="OpenstackKeystoneService" minOccurs="1" maxOccurs="1"/>
            <!-- TODO -->
        </xs:all>

        <xs:attribute name="forward-unauthorized-requests" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        If set to false, the Keystone v3 filter will not forward unauthorized requests.
                        If set to true, the Keystone v3 filter will forward unauthorized requests and set the
                        X-Authorization and X-Identity-Status headers to the appropriate values.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="token-cache-timeout" type="intGTEZero" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Time in milliseconds to cache auth token.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="cache-offset" type="intGTEZero" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Cache timeout offset (in milliseconds) for token and group cache. A random value
                        between -cache-offset and +cache-offset will be applied to the existing
                        token and group timeout values.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <!-- TODO -->
    </xs:complexType>

    <xs:complexType name="WhiteList">
        <xs:annotation>
            <xs:documentation>
                <html:p>A list of URI patterns all users can access.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="uri-pattern" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OpenstackKeystoneService">
        <xs:annotation>
            <xs:documentation>
                <html:p>Defines an Openstack Keystone endpoint and access credentials.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="username" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Admin username to access the keystone service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="password" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Admin password to access the keystone service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Target URI for authentication requests.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="project-id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        The project ID of the admin defined by the username and password.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="intGTEZero">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Elements -->
    <xs:element name="keystone-v3" type="KeystoneV3Config"/>
</xs:schema>
