project-set/external/rs-auth-schemas/src/main/resources/META-INF/schema/adminCredentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->
<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

    <annotation>
        <xsd:appinfo
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <xsdxt:title>Alternate Credential Types</xsdxt:title>
            <xsdxt:link rel="index" href="api.xsd"/>
        </xsd:appinfo>
        <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <p>
                This schema file defines alternate credentials used by admins
                to obtained a token from the authentication service.
            </p>
        </xsd:documentation>
    </annotation>

    <include schemaLocation="credentials.xsd">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Defines credentials used to obtain an auth token.
                </p>
            </xsd:documentation>
        </annotation>
    </include>

    <element name="nastCredentials" type="auth:NastCredentials">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Nast Credentials.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/nast-credentials.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/nast-credentials.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>

    <element name="mossoCredentials" type="auth:MossoCredentials">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Mosso Credentials.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/mosso-credentials.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/mosso-credentials.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>

    <element name="passwordCredentials" type="auth:PasswordCredentials">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Password credentials.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/password-credentials.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/password-credentials.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>


    <complexType name="NastCredentials">
        <complexContent>
            <extension base="auth:KeyCredentials">
                <attribute name="nastId" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Nast Id used to identify the user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MossoCredentials">
        <complexContent>
            <extension base="auth:KeyCredentials">
                <attribute name="mossoId" type="xsd:int" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Mosso account used to identify the user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PasswordCredentials">
        <complexContent>
            <extension base="auth:Credentials">
                <attribute name="username" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The name of the user authenticated.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="password" type="xsd:string" use="required">
                    <annotation>
                        <xsd:documentation
                                xml:lang="EN"
                                xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Password used to verify the user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>


</schema>
