project-set/external/rs-auth-schemas/src/main/resources/META-INF/schema/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2009 Rackspace Hosting, All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

    <annotation>
        <xsd:appinfo
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <xsdxt:title>Faults</xsdxt:title>
            <xsdxt:link rel="index" href="api.xsd"/>
        </xsd:appinfo>
        <xsd:documentation
                xml:lang="EN"
                xmlns="http://www.w3.org/1999/xhtml">
            <p>
                This schema file defines faults that may be raised by the Auth
                API. These faults are derived from the<a
                    href="#type_AuthFault" title="See definition of
        AuthFault">AuthFault</a>.
            </p>
            <p>
                Faults are associated with a default HTTP status code that
                corresponds to the particular fault type. For example an
                <a
                        href="#element_itemNotFound" title="see definition of
        itemNotFound">&lt;itemNotFound&gt;</a>
                element is associated
                with the HTTP status code 404. Some elements, the
                <a
                        href="#element_authFault" title="see definition of
        authFault">&lt;authFault&gt;</a>
                element for example, may be
                associated with multiple status codes. It is also possible
                for multiple fault elements to be associated with the same
                default code. The examples below showcase the default status
                codes for each element type. Note that these default codes are
                not part of the formal schema. In practice, however, an
                element type will likely be associated with its corresponding
                default status code.
            </p>
        </xsd:documentation>
    </annotation>

    <!-- Elements -->
    <element name="authFault" type="auth:AuthFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    A generic Auth API fault.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/authFault.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/authFault.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="userDisabled" type="auth:UserDisabledFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The user has been disabled and is not permitted to
                    authenticate.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/disabled.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/disabled.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="badRequest" type="auth:BadRequestFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The request is malformed.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/badRequest.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/badRequest.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="temporaryUnavailable" type="auth:TemporaryUnavailableFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The service request is temporary unavailable.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/temporaryUnavailable.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/temporaryUnavailable.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="unauthorized" type="auth:UnauthorizedFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Authorization failed. Bad API Key? Username?
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/unauthorized.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/unauthorized.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="itemNotFound" type="auth:ItemNotFoundFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The item or resource could not be found.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/notfound.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/notfound.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="forbidden" type="auth:ForbiddenFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    Authentication succeeded but you lack sufficient privileges.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/forbidden.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/forbidden.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="usernameConflict" type="auth:UsernameConflictFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The username already exists.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/nameconflict.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/nameconflict.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>
    <element name="serviceUnavailable" type="auth:ServiceUnavailableFault">
        <annotation>
            <xsd:documentation
                    xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The API is currently unavailable.
                </p>
            </xsd:documentation>
            <xsd:appinfo>
                <xsdxt:samples>
                    <xsdxt:sample>
                        <xsdxt:code type="application/xml" href="../samples/unavailable.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample>
                        <xsdxt:code type="application/json" href="../samples/unavailable.json"/>
                    </xsdxt:sample>
                </xsdxt:samples>
            </xsd:appinfo>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="AuthFault">
        <sequence>
            <element name="message" type="xsd:string">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            A human readable message that is appropriate for display
                            to the end user.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="details" type="xsd:string" minOccurs="0">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The optional &lt;details&gt; element may contain useful
                            information for tracking down errors (e.g a stack
                            trace). This information may or may not be appropriate
                            for display to an end user.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="code" type="xsd:int" use="required">
            <annotation>
                <xsd:documentation
                        xml:lang="EN"
                        xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The HTTP status code associated with the current fault.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="UserDisabledFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="BadRequestFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>
    
     <complexType name="TemporaryUnavailableFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="UnauthorizedFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ItemNotFoundFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ForbiddenFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="UsernameConflictFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ServiceUnavailableFault">
        <complexContent>
            <extension base="auth:AuthFault">
            </extension>
        </complexContent>
    </complexType>

</schema>
