repose-aggregator/commons/commons-configuration/src/test/resources/unmarshallerValidator/xsd/container-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  _=_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=
  Repose
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Copyright (C) 2010 - 2015 Rackspace US, Inc.
  _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  =_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_=_
  -->


<xs:schema xmlns:papic="http://docs.openrepose.org/repose/container/v2.0" xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="http://docs.openrepose.org/repose/container/v2.0">

    <xs:element name="repose-container" type="papic:ContainerConfiguration"/>

    <xs:complexType name="ContainerConfiguration">
        <xs:annotation>
            <xs:documentation>
                <html:p>Configuration for the container.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="deployment-config" type="papic:DeploymentConfiguration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeploymentConfiguration">
        <xs:annotation>
            <xs:documentation>
                <html:p>Contains deployment configuration attributes.</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="deployment-directory" type="papic:DeploymentDirectory" minOccurs="1" maxOccurs="1"/>
            <xs:element name="artifact-directory" type="papic:ArtifactDirectory" minOccurs="1" maxOccurs="1"/>
            <xs:element name="logging-configuration" type="papic:LoggingConfiguration" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ssl-configuration" type="papic:SslConfiguration" minOccurs="0" maxOccurs="1"/>
        </xs:all>

        <xs:attribute name="http-port" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        <html:strong>This attribute is deprecated it and will be ignored.
                            Use the system model to set ports.
                        </html:strong>
                    </html:p>
                    <html:p>Http port number on which Repose listens for requests.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="https-port" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        <html:strong>This attribute is deprecated it and will be ignored.
                            Use the system model to set ports.
                        </html:strong>
                    </html:p>
                    <html:p>Https port number on which Repose listens for requests</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- Check to make sure we really need this to be a Name -->
        <xs:attribute name="via" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>An identifying string that will be returned in the Via header.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="content-body-read-limit" type="papic:longGTZero" use="optional">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Maximum size for request content in bytes.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="connection-timeout" type="papic:intGTZero" use="optional" default="30000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of milliseconds to wait for a connection to an origin service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="read-timeout" type="papic:intGTZero" use="optional" default="30000">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of milliseconds to wait when reading from an origin service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="proxy-thread-pool" type="papic:intGTZero" use="optional" default="20">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of connection in the thread pool for communicating with end services.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="client-request-logging" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Logs communication between repose and the end service.</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="jmx-reset-time" type="papic:intGTZero" use="optional" default="15">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The number of seconds the JMX reporting service keeps data.
                        The data will be reset after this amount of time.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ArtifactDirectory">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="check-interval" type="papic:intGTZero" use="optional" default="1000">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Directory check interval in milliseconds</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DeploymentDirectory">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>A string that points the directory where artifacts are extracted.</html:p>
                    </xs:documentation>
                </xs:annotation>

                <xs:attribute name="auto-clean" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Clean up undeployed resources</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LoggingConfiguration">
        <xs:simpleContent>
            <xs:extension base="papic:EmptyString">
                <xs:attribute name="href" type="xs:anyURI" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            <html:p>Name of the system state log config</html:p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SslConfiguration">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    Contains the information needed to run Repose in an SSL enabled mode.
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:all>
            <xs:element name="keystore-filename" type="xs:anyURI" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>Name of the application keystore file, e.g keystore.repose</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="keystore-password" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>The password for the entire application keystore.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="key-password" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <html:p>The password for the particular application key in the keystore.</html:p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>

    </xs:complexType>

    <xs:simpleType name="intGTZero">
        <xs:restriction base="xs:int">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="longGTZero">
        <xs:restriction base="xs:long">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmptyString">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>