project-set/services/rate-limiting-service/src/main/resources/META-INF/schema/config/rate-limiting-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://docs.rackspacecloud.com/repose/rate-limiting/v1.0"
           xmlns:rl="http://docs.rackspacecloud.com/repose/rate-limiting/v1.0"
           xmlns:live-limits="http://docs.openstack.org/common/api/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Import shared types with live limits -->
    <xs:import namespace="http://docs.openstack.org/common/api/v1.0" schemaLocation="../limits/limits.xsd"/>


    <!-- Enumeration and SimpleType definitions -->
    <xs:simpleType name="StringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="HttpMethodList">
        <xs:list itemType="live-limits:HttpMethod"/>
    </xs:simpleType>

    <!-- Configuration Schema Definitions -->
    <xs:element name="rate-limiting" type="rl:RateLimitingConfiguration"/>

    <xs:complexType name="RateLimitingConfiguration">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    Outlines a collection of rate limits as well as the descriptor
                    for configuring an endpoint for rate limits introspection GET requests
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="request-endpoint" type="rl:RequestEndpoint" minOccurs="1" maxOccurs="1"/>
            <xs:element name="limit-group" type="rl:ConfiguredLimitGroup" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        
        <xs:attribute name="overLimit-429-responseCode" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Set to true will send 429 response code instead of default 413 response code which in 
                        conjunction with Response Messaging Service Configuration for 429 status code will provide 
                        custom over limit message . As 429 response code is proposed HTTP standard code and servlet 
                        containers return 429 as response message.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="datastore" type="xs:string" use="optional" default="distributed/hash-ring">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Name of datastore to use for storing rate limiting information.  
                        If not specified, rate limiting will use the first distributed datastore available.  
                        If no distributed data stores are available, then it'll revert to using a local data stores.  
                        Valid values are:
                        
                        local/default
                        distributed/hash-ring (requires dist-datastore filter)
                        distributed/replicated (required replicated-datastore filter)
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="use-capture-groups" type="xs:boolean" use="optional" default="true">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        Determines whether or not capture groups will be used to evalute limits
                        from uri-regex. Set to false will count all the requests with the uri-regex that has 
                        the capture group towards the limit count specified. By default it is set to true.
                        For example, suppose the configuration specifies a regex of /v1/(.*) with value set to 100. 
                        With use-capture-groups set to false, some requests come in with a URI of /v1/pan and other 
                        requests come in with a URI of /v1/cake. Each user would be allowed 50 hits if the hits 
                        are evenly divided among the two URIs: 50 hits for URI /v1/pan and 50 hits for URI /v1/cake.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
    </xs:complexType>

    <xs:complexType name="RequestEndpoint">
        <xs:annotation>
            <xs:documentation>
                <html:p>
                    Defines an endpoint with a matching regex to bind GET
                    requests for returning rate limit information
                </html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="include-absolute-limits" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        Informs the rate limiting component that the origin
                        service will return absolute limits. If this is set to
                        true then the request will be passed to the origin service
                        and the response marshalled to include the returned absolute
                        limits from the origin service.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri-regex" type="xs:string" use="optional" default="\/limits\/(\d*)\/">
            <xs:annotation>
                <xs:documentation>
                    <html:p>A regular expression (regex) for the URI at which the user can query their limits. </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ConfiguredLimitGroup">
        <xs:annotation>
            <xs:documentation>
                <html:p>Defines a list of rate limits and the groups they are associated with</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="limit" type="rl:ConfiguredRatelimit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>

        <xs:attribute name="id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Unique id to identify the group of rate limits</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="default" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>
                    <html:p>
                        Determines whether or not this list of rate limits should
                        be considered the default when role matching fails.  This limit group will be applied if a user is passed in either of these conditions:
                        
                        no group is specified
                        no group in the rate limiting configuration matches the group or groups specified
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="groups" type="rl:StringList" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>List of groups that the list of rate limits is associated with</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ConfiguredRatelimit">
        <xs:annotation>
            <xs:documentation>
                <html:p>Defines a single rate limit</html:p>
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="uri" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Human readable version of the matcher used to enforce this rate limit</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uri-regex" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>The regex used to match a passing request to current limit group.  
                        Within the regex, each capture group is allowed the number of hits specified in the value attribute of the limit element.
                        
                        For example, suppose the configuration specifies a regex of /v1/(.*) and with value set to 100, 
                        make sure "use-capture-groups" attribute is set to true or not set. With this configuration, 
                        some requests come in with a URI of /v1/pan and other requests come in with a URI of /v1/cake. 
                        Each user would be allowed 200 hits if the hits are evenly divided among the two URIs: 
                        100 hits for URI /v1/pan and 100 hits for URI /v1/cake.
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="http-methods" type="rl:HttpMethodList" use="optional" default="ALL">
            <xs:annotation>
                <xs:documentation>
                    <html:p>List of HTTP Methods this rate limit will match on.
                        Valid values include:
                        GET, DELETE, POST, PUT, HEAD, OPTIONS, CONNECT, TRACE, ALL   
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="value" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Number of requests allowed within the configured unit of time
              
                    </html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="unit" type="live-limits:TimeUnit" use="required">
            <xs:annotation>
                <xs:documentation>
                    <html:p>Unit of time that limit enforcement should use.
                        Valid values include:
                        
                        SECOND, MINUTE, HOUR, DAY</html:p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>